<div class="games-search">
  <app-xc-search-field [value]="searchText"
                       [label]="'Search'"
                       [disabled]="showSpinner"
                       (valueChange)="updateSearch($event)">
  </app-xc-search-field>
</div>

<div class="game-list"
     *ngIf="games?.length"
     [ngClass]="showSpinner ? 'position-relative' : ''">
  <app-game-item *ngFor="let game of filteredGames"
                 [isEmpty]="showSpinner"
                 [game]="game">
  </app-game-item>
  <app-xc-spinner [show]="showSpinner" [fullPage]="true"></app-xc-spinner>
</div>
<div class="game-list position-relative" *ngIf="!games?.length">
  <app-game-item *ngFor="let game of emptyGames"
                 [isEmpty]="true"
                 [game]="game">
  </app-game-item>
  <app-xc-spinner [show]="showSpinner" [fullPage]="true"></app-xc-spinner>
</div>
