@import '../../../variables'

.xc-search
  border: 1px solid #ebebeb
  border-radius: $radius-default
  padding: $space-sm
  width: 100%
  max-width: 400px
  box-shadow: 1px 1px 2px 0 rgb(194, 182, 194)
  margin: $space-xs
