<div class="game-box"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     (click)="playGame()"
     [@rotatedState]="showPlayButton ? 'rotated' : 'default'"
     [@flyInOut]="'in'">
  <div class="game-name" *ngIf="!isEmpty">{{game.name}}</div>
  <app-xc-spinner [show]="isEmpty"></app-xc-spinner>
  <img class="game-img"
       [src]="game.thumbnail"
       [ngClass]="!imgVisible ? 'hidden-img' : ''"
       (error)="imgLoaded()"
       (load)="imgLoaded()"  />
  <app-xc-spinner
      *ngIf="!imgVisible"
      class="game-img"
      [fullPage]="true"
      [show]="!imgVisible">
  </app-xc-spinner>
  <div class="additional-game-info">
    <div class="vertical-middle">
      <i class="glyphicon glyphicon-star-empty"></i>
      <span class="game-rating">{{game.rating}}</span>
    </div>
  </div>
  <div class="show-play" *ngIf="showPlayButton">
    <i class="glyphicon glyphicon-play-circle"></i>
  </div>
</div>