@import '../../../../variables'

.game-box
  display: flex
  position: relative
  overflow: hidden
  flex-direction: column
  justify-content: center
  width: 200px
  background-color: $white
  align-items: center
  margin: 5px
  padding: $space-md $space-md $space-sm $space-md
  box-shadow: 1px 1px 2px 0 rgb(194, 182, 194)
  border-radius: 2px
  cursor: pointer

  &:hover
    box-shadow: 1px 1px 2px 0 rgb(116, 165, 194)

  &:hover:after
    opacity: 1
    top: -30%
    left: -30%
    transition-property: left, top, opacity
    transition-duration: 0.7s, 0.7s, 0.15s
    transition-timing-function: ease

  &:after
    content: ""
    position: absolute
    top: -110%
    left: -210%
    width: 200%
    height: 200%
    opacity: 0
    transform: rotate(30deg)
    background: rgba(255, 255, 255, 0.13)
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%  )

  &:active:after
    opacity: 0
    
  .game-name
    display: inline-block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    width: 100%
    text-align: center

  .game-img
    width: 150px
    height: 140px
    border-radius: 2px

  .additional-game-info
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-end
    margin-top: $space-xs
    color: $gray

    .glyphicon
      top: 0
    
    // todo variables

//.game-box:after
//  content: ""
//  position: absolute
//  top: -110%
//  left: -210%
//  width: 200%
//  height: 200%
//  opacity: 0
//  transform: rotate(30deg)
//
//  background: rgba(255, 255, 255, 0.13)
//  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%  )


/* Hover state - trigger effect */

//.game-box:hover:after
//  opacity: 1
//  top: -30%
//  left: -30%
//  transition-property: left, top, opacity
//  transition-duration: 0.7s, 0.7s, 0.15s
//  transition-timing-function: ease
//

/* Active state */

//.game-box:active:after
//  opacity: 0

