.categories-bar
  background-color: white // todo var
  display: flex
  flex-direction: column
  justify-content: center
  height: 50px

  .categories-list
    display: flex
    justify-content: space-between