@import '../../../variables'

.nav-bar
  display: flex
  flex-direction: row
  align-items: center
  background-color: $dark-gray
  height: 100%
  font-size: $font-size-lg
  color: white
  justify-content: center

  @media (max-width: $screen-xs-max)
    order: 1
    position: fixed
    justify-content: space-between
    padding: 0 $space-md
    left: 0
    top: 0
    width: 100%
    grid-row: 1
    z-index: 1
    height: 88px

  .glyphicon
    top: 0

  .nav-menu
    cursor: pointer
    &:hover
      color: $hover-bright

  .xc-header-title
    font-style: italic

    .glyphicon
      margin-right: $space-sm
