// colors
$primary-blue: #024484
$white: white
$gray: #9e9e9e
$dirty-white: #ebebeb
$color-title: #0267b1
$hover-dark: #707070
$hover-bright: #ebebeb
$black: black

// fonts
$font-size-lg: 20px
$font-size-md: 16px
$font-size-sm: 14px
$font-size-xs: 10px
$font-size-xs: 10px
$font-weight-md: 600

// paddings and margins
$space-md: 20px
$space-sm: 10px
$space-xs: 5px

// nav dimensions
$top-nav-height: 88px
$left-nav-width: 300px
$short-menu-width: 80px

// borders
$radius-default: 8px

// icons
$icon-width: 35px

// screen sizes
$screen-xs-max: 767px
