@import 'variables'
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
// because it was not specified I decided to import Open Sans like this
// but it depends on project requirements if to download fonts locally or not
// to show that I can download some fonts:P you can check how I did it with custom icons

body, html
  font-family: 'Open Sans', sans-serif
  color: $black

.vertical-middle
  display: flex
  align-items: center
